.box{
	position: relative;
	background: #fff;
	margin-top: 6%;
	width: 800px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.login-box{
	position: relative;
	background: #fff;
	margin-top: 6%;
	border-radius: 10px;
	width: 500px;
	box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
	display: inline-block;
}

@media only screen and (max-width: 500px) {
	.login-box{
		width: unset;
	}
}

@media only screen and (max-width: 1000px) {
	.box{
		width: unset;
	}
}

.contact-area input, .contact-area textarea{
	background: #fff;
	color: rgba(0, 0, 0, 0.7);
}

.swal2-popup {
	width: 40em;
	padding: 2em;
}




.jq-icon-info {
	background-color: #20aee3;
	color: #ffffff; }

.jq-icon-success {
	background-color: #24d2b5;
	color: #ffffff; }

.jq-icon-error {
	background-color: #ff5c6c;
	color: #ffffff; }

.jq-icon-warning {
	background-color: #ff9041;
	color: #ffffff; }





.header-top .top-right h6 {
	font-size: 16px;
	line-height: 26px;
	color: #777777;
	font-weight: 400;
	padding: 14px 0px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.header-top .top-left h6 {
	font-size: 16px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


/*TABLE*/
.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 30px 20px;

}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}
.table {
	border-collapse: collapse;
}
.table thead th, .table th {
	border: 0px;
}
.table thead th, .table th {
	font-weight: 500;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #e9ecef;
	font-size: 18px;
	font-weight: 700;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.table td, .table th {
	border-color: #f3f1f1;
}

.table td p {
	font-size: 17px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	line-height: unset;
}

.table td, .table th {
	vertical-align: top;
	border-top: 2px solid #e9ecef;
}

.table th {
	text-align: left;
	font-weight: 400;
}

.table td
{
	padding: 1rem !important;
	line-height: 3 !important;
}


.stylish-table tbody tr {
	border-left: 3px solid transparent;
}

.table td, .table th {
	border-color: #f3f1f1;
}
.table td, .table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid
	#e9ecef;
	border-top-color: rgb(233, 236, 239);
}





.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
	border-left: 4px solid #20aee3;
	border-left-color: rgb(32, 174, 227);
	background-color: #f4f4f4a8;
}


.no-hover:hover, .no-hover:active {
	border-left: unset !important;
	border-left-color: unset !important;;
	background-color: unset !important;;
}
.no-hover th{
	text-align: right;
	font-size: 16px;
}



@media (max-width:991px) {
	.table-responsive {
	 border: 0;
 }
	.box
	{
		width: 100% !important;
	}
}














.round {
	line-height:48px;
	color:#ffffff;
	width:50px;
	height:50px;
	display:inline-block;
	font-weight:400;
	text-align:center;
	border-radius:100%;
	background:#20aee3
}
.round img {
	border-radius:100%
}
.round-lg {
	line-height:65px;
	width:60px;
	height:60px;
	font-size:30px
}
.round.round-info {
	background:#20aee3
}
.round.round-warning {
	background:#ff9041
}
.round.round-danger {
	background:#ff5c6c
}
.round.round-success {
	background:#24d2b5
}
.round.round-primary {
	background:#6772e5
}
.label {
	display:inline-block
}
.label {
	padding:3px 10px;
	line-height:13px;
	color:#ffffff;
	font-weight:400;
	border-radius:4px;
	font-size:75%
}
.label-rounded {
	border-radius:60px
}
.label-custom {
	background-color:#56c0d8
}
.label-success {
	background-color:#24d2b5
}
.label-info {
	background-color:#20aee3
}
.label-warning {
	background-color:#ff9041
}
.label-danger {
	background-color:#ff5c6c
}
.label-megna {
	background-color:#56c0d8
}
.label-primary {
	background-color:#6772e5
}
.label-purple {
	background-color:#7460ee
}
.label-red {
	background-color:#fb3a3a
}
.label-inverse {
	background-color:#2f3d4a
}
.label-default {
	background-color:#e9edf2
}
.label-white {
	background-color:#ffffff
}
.label-light-success {
	background-color:#e8fdeb;
	color:#24d2b5
}
.label-light-info {
	background-color:#cfecfe;
	color:#20aee3
}
.label-light-warning {
	background-color:#fff8ec;
	color:#ff9041
}
.label-light-danger {
	background-color:#f9e7eb;
	color:#ff5c6c
}
.label-light-megna {
	background-color:#e0f2f4;
	color:#56c0d8
}
.label-light-primary {
	background-color:#f1effd;
	color:#6772e5
}
.label-light-inverse {
	background-color:#f6f6f6;
	color:#2f3d4a
}



.text-white {
	color:#ffffff!important
}
.text-danger {
	color:#ff5c6c!important
}
.text-muted {
	color:#bcc3d3!important
}
.text-warning {
	color:#ff9041!important
}
.text-success {
	color:#24d2b5!important
}
.text-info {
	color:#20aee3!important
}
.text-inverse {
	color:#2f3d4a!important
}





.no-mar-left {
	margin-left: unset;
}

.no-mar-right {
	margin-right: unset;
}





/*******************/
/*Calendar widget*/
/*******************/
.calendar {
	float: left;
	margin-bottom: 0px; }

.fc-view {
	margin-top: 30px; }

.none-border .modal-footer {
	border-top: none; }

.fc-toolbar {
	margin-bottom: 5px;
	margin-top: 15px; }
.fc-toolbar h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase; }

.fc-day {
	background: #ffffff; }

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
	z-index: 0; }

.fc-widget-header {
	border: 0px !important; }

.fc-widget-content {
	border-color: rgba(120, 130, 140, 0.13) !important; }

.fc th.fc-widget-header {
	color: #67757c;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	padding: 7px 0px;
	text-transform: uppercase; }

.fc th.fc-sun,
.fc th.fc-tue,
.fc th.fc-thu,
.fc th.fc-sat {
	background: #f2f7f8; }

.fc th.fc-mon,
.fc th.fc-wed,
.fc th.fc-fri {
	background: #f2f7f8; }

.fc-view {
	margin-top: 0px; }

.fc-toolbar {
	margin: 0px;
	padding: 24px 0px; }

.fc-button {
	background: #ffffff;
	border: 1px solid rgba(120, 130, 140, 0.13);
	color: #67757c;
	text-transform: capitalize; }
.fc-button:hover {
	background: #e9edf2;
	opacity: 0.8; }

.fc-text-arrow {
	font-family: inherit;
	font-size: 16px; }

.fc-state-hover {
	background: #F5F5F5; }

.fc-unthemed .fc-today {
	border: 1px solid #ff5c6c;
	background: #e9edf2 !important; }

.fc-state-highlight {
	background: #f0f0f0; }

.fc-cell-overlay {
	background: #f0f0f0; }

.fc-unthemed .fc-today {
	background: #ffffff; }

.fc-event {
	border-radius: 0px;
	border: none;
	cursor: move;
	color: #ffffff !important;
	font-size: 13px;
	margin: 1px -1px 0 -1px;
	padding: 5px 5px;
	text-align: center;
	background: #20aee3; }

.calendar-event {
	cursor: move;
	margin: 10px 5px 0 0;
	padding: 6px 10px;
	display: inline-block;
	color: #ffffff;
	min-width: 140px;
	text-align: center;
	background: #20aee3; }
.calendar-event a {
	float: right;
	opacity: 0.6;
	font-size: 10px;
	margin: 4px 0 0 10px;
	color: #ffffff; }

.fc-basic-view td.fc-week-number span {
	padding-right: 5px; }

.fc-basic-view .fc-day-number {
	padding: 10px 15px;
	display: inline-block; }

.calendar-box
{
	position: relative;
	background: #fff;
	margin-top: 6%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px -2px
	rgba(0, 0, 0, 0.2);
	display: inline-block;
}



.modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: unset;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.modal-header .close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;

}


.fw-400
{
	font-weight: 400;
}




/*******************
Background Colors
*******************/
.bg-primary {
	background-color: #6772e5 !important; }

.bg-success {
	background-color: #24d2b5 !important; }

.bg-info {
	background-color: #20aee3 !important; }

.bg-warning {
	background-color: #ff9041 !important; }

.bg-danger {
	background-color: #ff5c6c !important; }




.btn-main:hover {
	background: #48bdc5;
	color: #fff;
}
.btn-main {
	background: #fff;
	color: #48bdc5;
	padding: 5px 10px;
	border: 1px solid #48bdc5;
	transition: all .2s ease-in;
}


.notify {
	position:relative;
	top:-10px;
	right:-13px;
}
.notify .heartbit {
	position:absolute;
	top:-20px;
	right:-4px;
	height:25px;
	width:25px;
	z-index:10;
	border:5px solid #ff5c6c;
	border-radius:70px;
	-moz-animation:heartbit 1s ease-out;
	-moz-animation-iteration-count:infinite;
	-o-animation:heartbit 1s ease-out;
	-o-animation-iteration-count:infinite;
	-webkit-animation:heartbit 1s ease-out;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite
}
.notify .point {
	width:6px;
	height:6px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	background-color:#ff5c6c;
	position:absolute;
	right:6px;
	top:-10px
}
@-moz-keyframes heartbit {
	0% {
		-moz-transform:scale(0);
		opacity:0.0
	}
	25% {
		-moz-transform:scale(0.1);
		opacity:0.1
	}
	50% {
		-moz-transform:scale(0.5);
		opacity:0.3
	}
	75% {
		-moz-transform:scale(0.8);
		opacity:0.5
	}
	to {
		-moz-transform:scale(1);
		opacity:0.0
	}
}
@-webkit-keyframes heartbit {
	0% {
		-webkit-transform:scale(0);
		opacity:0.0
	}
	25% {
		-webkit-transform:scale(0.1);
		opacity:0.1
	}
	50% {
		-webkit-transform:scale(0.5);
		opacity:0.3
	}
	75% {
		-webkit-transform:scale(0.8);
		opacity:0.5
	}
	to {
		-webkit-transform:scale(1);
		opacity:0.0
	}
}


/*BADGE*/
.badge {
	font-weight:400;
	position: relative;
	top: -7px;
}
.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.badge-xs {
	font-size:9px
}
.badge-sm,.badge-xs {
	-webkit-transform:translate(0, -2px);
	-ms-transform:translate(0, -2px);
	-o-transform:translate(0, -2px);
	transform:translate(0, -2px)
}
.badge-success {
	background-color:#24d2b5
}
.badge-info {
	background-color:#20aee3
}
.badge-primary {
	background-color:#6772e5
}
.badge-warning {
	background-color:#ff9041;
	color:#ffffff
}
.badge-danger {
	background-color:#ff5c6c
}
.badge-purple {
	background-color:#7460ee
}
.badge-red {
	background-color:#fb3a3a
}
.badge-inverse {
	background-color:#2f3d4a
}

.r-btn
{
	bottom: 10%;
	position: fixed;
}
