

.custom-login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding-top: 2%;

}

.custom-sender {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding-top: 1%;
    position: fixed;
}

.custom_pos
{
	margin: auto;
}

.custom_block
{
	display:flex;
}

.custom_ml-15
{
	margin-left:15rem!important;
}

.cus-btn-color
{
	background: #06d79c !important;
	border: #06d79c !important;
}

.cus-q{
	font-size:180px;
	font-weight: 800;
}

.jsgrid-header-row>.jsgrid-header-cell {
    background-color: #06d79c;
    color: white;
}

tr.highlight td.jsgrid-cell {
    background-color: #cccccc;
    font-weight: 500;
    color: black;
}

.cus-modal-size
{
    font-size: small;
    font-weight: 400;
}
.cus-t-s
{
    text-align: center;
    font-size: 550px;
    color: #000000!important;
}
.cus-pos-fix
{
    position: fixed;
}
.cus-q-num
{
    padding-top: 14%;
    padding-bottom: 2.7rem;
}
.cus-q-text
{
    padding-top: 14%;
    padding-left: 1%;
}
.c-black
{
    color: #000000;
}

tr.priority td.jsgrid-cell {
    background-color: #ffff006e;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}


@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}
.form-group
{
	margin-bottom: 1rem;
}

.cus-spin-m
{
    margin-left: 0.5rem;
    margin-top: 1.3rem;
}

.btn-info.disabled, .btn-info:disabled {
    background-color: #868e96;
    border-color: #868e96;
}

.btn-info, .btn-info.disabled {
    -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background-color: #ffffff;
     color: #67757c;
     border-color: #cccccc;
}


.btn-secondary.active, .btn-secondary:active, .btn-secondary:focus,
.btn-secondary.disabled.active,
.btn-secondary.disabled:active,
.btn-secondary.disabled:focus {
    -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
    box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
    color: #ffffff !important;
    background: #06d79c;
    border-color: #ffffff;
}

.text-priority {
    color: #b98a04 !important;
}

.text-color-theme
{
    color: #06d79c;
}







.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}
.column-labels
{
    font-weight: 500;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '₱ ';
}

/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}
.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
    font-weight: bold;
}
.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
    font-weight: 500;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {

    .column-labels {
        display: none;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
    }
    .product-quantity input {
        margin-left: 20px;
    }

    .product-quantity:before {
        content: 'x';
    }

    .product-line-price {
        float: right;
        width: 70px;
    }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals .totals-item label {
        width: 60%;
    }
    .totals .totals-item .totals-value {
        width: 40%;
    }
}


hr {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.s-by-date
{
    padding-left: 0;
    bottom: -1.9rem;
    padding-right: 5rem;
}




























@media screen and (max-width: 991px) {
	.cus-label
	{
		display: none;
	}
}










