/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
Login register and recover password Page
******************/
.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 5% 0;
  position: fixed;
  }

.login-box {
  width: 400px;
  margin: 0 auto;
  }
.sp-box
{
  width: 500px;
  margin: 0 auto;
}
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

#login-form {
  display: none; }
  
#sel-tran {
  display: none; }
  
#sel-reg {
  display: none; }
  
#l-retailer-form{
  display: none; }

#pur-conf{
  display: none; }

#card-form{
  display: none; }
  
#sel-sp{
  display: none; }
  
.sp-box{
  display: none; }


.login-sidebar {
  padding: 0px;
  margin-top: 0px; }
  
.login-sidebar .login-box .sp-box {
right: 0px;
position: absolute;
height: 100%; }
